@model IList<HomeAutio.Mqtt.GoogleHome.Models.State.Device>

<div class="devices-page">
    <div class="lead">
        <h1>Devices</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Edit Devices</h2>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <a asp-controller="GoogleDevice" asp-action="Create" class="list-group-item list-group-item-action active">Add Device</a>
                        @foreach (var device in Model)
                        {
                            <a asp-controller="GoogleDevice" asp-action="Edit" asp-route-deviceId="@device.Id" class="list-group-item list-group-item-action">
                                @if (device.Disabled)
                                {
                                    <span class="badge badge-primary">disabled</span>
                                }
                                @device.Id
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Tools</h2>
                </div>
                <div class="card-body">
                    <a asp-controller="GoogleDevice" asp-action="SyncValidate" class="btn btn-warning">SYNC Response</a>
                    <p>
                        Paste into the <a href="https://developers.google.com/assistant/smarthome/tools/validator">Google Validator</a> to check for issues.
                    </p>

                    <a asp-controller="GoogleDevice" asp-action="Json" class="btn btn-warning">Device JSON</a>
                    <p>
                        Current device JSON
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
