h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

a {
  color: var(--bs-cyan);
}

a:hover {
  color: var(--bs-cyan);
}

.body-container {
    margin-top: 60px;
    padding-bottom:40px;
}

.navbar { padding: .25rem 1rem; }
.navbar-brand { color: var(--bs-white); }
.navbar-brand:hover {
  color: var(--bs-gray-500);
}

.bg-primary .navbar-nav .nav-link {
  color: var(--bs-white) !important;
}
.bg-primary .navbar-nav .nav-link:hover {
  color: var(--bs-gray-500) !important;
}

.welcome-page {
    li {
        list-style: none;
        padding: 4px;
    }
}

.logged-out-page {
    iframe {
        display: none;
        width: 0;
        height: 0;
    }
}

.grants-page {
    .card {
        margin-top: 20px;
        border-bottom: 1px solid lightgray;

        .card-title {
            img {
                width: 100px;
                height: 100px;
            }

            font-size: 120%;
            font-weight: bold;
        }

        label {
            font-weight: bold;
        }
    }
}

a.card.google-device {
  color: var(--bs-body-color) !important;
  text-decoration: none !important;
}
a.card.google-device:hover {
  color: var(--bs-gray-500) !important;
}

.btn.dropdown-toggle {
  white-space: break-spaces;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin-bottom: 0;
}

.card-footer .form-group {
    margin-bottom: 0;
}
