<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>HomeAutio.Mqtt.GoogleHome</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" title="light" href="~/lib/bootstrap/dist/css/flatly/bootstrap.min.css" />
    <link rel="alternate stylesheet" title="dark" href="~/lib/bootstrap/dist/css/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_Nav" />

    <div class="container body-container">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="~/lib/styleswitcher/styleswitcher.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
