<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>HomeAutio.Mqtt.GoogleHome</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" title="light" href="~/lib/bootstrap/themes/flatly/bootstrap.min.css" />
    <link rel="stylesheet" title="dark" href="~/lib/bootstrap/themes/darkly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <partial name="_Nav" />

    <div class="container body-container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script>
    <script src="~/lib/styleswitcher/styleswitcher.js"></script>
    <script src="~/lib/bootstrap/bootstrap-5.2.3.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
